<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz día del amor y la amistad©</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💘</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <h1>💖 Calculadora del amor 💖</h1>
        <input type="text" id="nombre1" placeholder="Tu nombre">
        <input type="text" id="nombre2" placeholder="Su nombre">
        <button onclick="calcularAmor()">💘 Calcular</button>
        <div id="resultado"></div>
    </div>
    <script type="module" src="{{ url_for('static', filename='result.js') }}"></script>
</body>
<footer>
    <p>© 2025 Hecho con mucho amor por Daria💘
    <small>(No alcancé a comprar las flores)</small></p>
    <div class="social-icons">
        <a href="https://github.com/dariaztva10" class="social-icon">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/dariadachazotova/" class="social-icon">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:dariaztva@gmail.com" class="social-icon">
            <i class="fas fa-envelope"></i>
        </a>
        
    </div>
</footer>


</html>
