<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz día del amor y la amistad©</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💘</text></svg>">

</head>
<body>
    <div class="container">
        <h1>💖 Calculadora del amor 💖</h1>
        <input type="text" id="nombre1" placeholder="Tu nombre">
        <input type="text" id="nombre2" placeholder="Su nombre">
        <button onclick="calcularAmor()">💘 Calcular</button>
        <div id="resultado"></div>
    </div>
    <script src="{{ url_for('static', filename='result.js') }}"></script>
</body>
</html>
